streamlit
streamlit_option_menu
numpy
pandas

scikit-learn

matplotlib
seaborn

tensorflow
tensorflow-datasets
tensorflow-estimator
tensorflow-gcs-config
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-metadata
tensorflow-probability


opencv-contrib-python
opencv-python
opencv-python-headless